<div class="modal-header">
    <button class="fa fa-times pull-right" ng-click="cancel()"></button>
	<h3 class="modal-title" style="font-weight:bold">{{user.FirstName}} {{user.LastName}}</h3>

</div>
<div class="modal-body">
	<section id="edituserSection">
		<div class="row">
			<div class="col-md-8">
				<div class="row">
					<a href='http://facebook.com/{{user.FacebookId}}'target="_blank">
						<img ng-src="{{user.PhotoLink}}" class="col-md-12">
					</a>
				</div>
				<div class="panel panel-info" style="margin-top:10%">
					<div class="panel-heading">
						Rate
					</div>
					<div class="panel-body" ng-if="!ratedSuccess">
						<div class="col-md-6">
							<img src="css/fire-icon.png" style="height:100px;height:100px; cursor:pointer;margin-left:40%;" ng-click="rate(1)">
						</div>
						<div class="col-md-6">
							<img src="css/Snowflake.png" style="height:100px;height:100px; cursor:pointer;margin-left:20%;" ng-click="rate(0)">
						</div>
					</div>
					<div class="panel-body bg-success" ng-if="ratedSuccess">
						<h3>Rated Successfully</h3>
					</div>
				</div>
			</div>
			<div class="panel-body col-md-4">
				<div class="form-group">
					<label for="eyeColorSelect">Facebook Likes: </label>
					{{user.NumOfLikes}}
				</div>
				<div style="font-weight:bold">
					<div class="col-md-6">
						Attribute
						</div>
					<div class="col-md-6">
						User's Input Distribution
					</div>
				</div>
				<div class="imagemodelbox">
					<label for="eyeColorSelect">Eye Color</label>
					<div class="row">
						<div class="col-md-6">
							<select id="eyeColorSelect" class="form-control" ng-options="color for color in eyeColorLabels" ng-model="user.EyeColorFix">
							</select>
							</div>
						<div class="col-md-6">
							<canvas id="pie" class="chart chart-pie" chart-data="eyeColorData" chart-labels="eyeColorLabels" chart-colours="eyeColorChartColors"></canvas>
						</div>
					</div>
				</div>
				<div class="imagemodelbox">
					<label for="hairColorSelect">Hair Color</label>
					<div class="row">
						<div class="col-md-6">
							<select id="hairColorSelect" class="form-control" ng-options="color for color in hairColorLabels" ng-model="user.HairColorFix" style="width:100px">
							</select>
						</div>
						<div class="col-md-6">
							<canvas id="pie" class="chart chart-pie chart-xs" chart-data="hairColorData" chart-labels="hairColorLabels" chart-colours="hairColorChartColors"></canvas>
						</div>
					</div>
				</div>
				<div class="imagemodelbox">
					<label for="ageInput">Age</label>
					<div class="row" style="height:130px">
						<div class="col-md-4">
							<div class="input-group spinner">
								<input type="text" class="form-control" ng-model="user.Age">
								<div class="input-group-btn-vertical">
								  <button class="btn btn-info" type="button" ng-click="user.Age=user.Age+1"><i class="fa fa-caret-up"></i></button>
								  <button class="btn btn-info" type="button"ng-click="user.Age=user.Age-1"><i class="fa fa-caret-down"></i></button>
								</div>
							  </div>
						</div>
						<div class="col-md-8" style="height:130px;" ng-if="!isAgeEmpty()">
							<canvas id="bar" class="chart chart-bar" chart-data="ageData" chart-labels="ageLabels" chart-click="ageClick" style="height:130px;width:100%;"></canvas>
						</div>
					</div>
				</div>
				<div class="imagemodelbox">
					<label for="hasGlasses">Has Glasses</label>
					<div class="row">
						<div class="col-md-6">
							<div class="input-group">
								<div class="btn-group" data-toggle="buttons">
									<label class="btn btn-info" ng-class="{active:user.HasGlasses==1}" ng-click="user.HasGlasses=1">
									  Yes
									</label>
									<label class="btn btn-info" ng-class="{active:user.HasGlasses==0}" ng-click="user.HasGlasses=0">
									  No
									</label>
								</div>
							</div>
						</div>
						<div class="col-md-6">
                                <canvas id="pie" class="chart chart-doughnut chart-xs" chart-data="glassesData" chart-labels="glassesLabels" chart-colours="glassesChartColors"></canvas>
						</div>
					</div>
				</div>
				<div class="imagemodelbox">
					<label for="hasBeard">Has Beard</label>
					<div class="row">
						<div class="col-md-6">
							<div class="input-group">
								<div class="btn-group" data-toggle="buttons">
									<label class="btn btn-info" ng-class="{active:user.HasBeard==1}" ng-click="user.HasBeard=1">
									  Yes
									</label>
									<label class="btn btn-info" ng-class="{active:user.HasBeard==0}" ng-click="user.HasBeard=0">
									  No
									</label>
								</div>
							</div>
						</div>
						<div class="col-md-6">
                                <canvas id="pie" class="chart chart-doughnut chart-xs" chart-data="beardData" chart-labels="beardLabels" chart-colours="beardChartColors"></canvas>
						</div>
					</div>
				</div>
				<div class="imagemodelbox">
					<label for="smilesInput">Smiles</label>
					<div class="row">
						<div class="col-md-6">
							<div class="input-group">
								<div class="btn-group" data-toggle="buttons">
									<label class="btn btn-info" ng-class="{active:user.HasSmile==1}" ng-click="user.HasSmile=1">
									  Yes
									</label>
									<label class="btn btn-info" ng-class="{active:user.HasSmile==0}" ng-click="user.HasSmile=0">
									  No
									</label>
								</div>
							</div>
						</div>
						<div class="col-md-6">
                                <canvas id="pie" class="chart chart-pie chart-xs" chart-data="smilesData" chart-labels="smilesLabels" chart-colours="smilesChartColors"></canvas>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="panel panel-body panel-info col-md-6">
						<button class="btn btn-primary" type="button" ng-click="ok()" style="width:100%;height:100%;">Update</button>
					</div>
					<div class="col-md-6">
						
					</div>
				</div>
			</div>
		</div>
  </div>
	</section>
</div>
<div ng-show="loggedOnUser.FacebookId">
	 <div class="well" ng-hide="commentAdded">
		<h4>Leave a Comment:</h4>
		<form role="form">
			<div class="form-group">
				<textarea class="form-control" rows="3" ng-model="comment"></textarea>
			</div>
			<button type="submit" class="btn btn-primary" ng-click="addComment(user)">Submit</button>
		</form>
	</div>
	<div class="bg-success" ng-show="commentAdded" style="margin: 10px;">Comment Added Successfully</div>
	<hr>

	<!-- Posted Comments -->
	<!-- Comment -->
	<div ng-if="comments" class="media" ng-repeat="comment in comments" style="margin:15px;">
		<a class="pull-left">{{comment.FirstName}} {{comment.LastName}}
			<img class="media-object" ng-src="{{comment.PhotoLink}}" alt="" style="height:100px;width:100px;">
		</a>
		<div class="media-body">
			<h4 class="media-heading">
				<small>{{comment.Time}}</small>
			</h4>
			{{comment.Comment}}
		</div>
	</div>
</div>
<div class="bg-warning" ng-hide="loggedOnUser.FacebookId" style="margin: 10px;">
	You must be logged on to view and add comments
</div>
{{loggedOnUser.FacebookId}}
</div>
