<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Facebook Analysis Project</title>
  <link rel="stylesheet" href="css/angular-chart.min.css">
  <script src="https://use.fontawesome.com/1b5f59f5ad.js"></script>
  <link href="css/ui-bootstrap-csp.css" rel="stylesheet">
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="app.css" rel="stylesheet">
    <script src="js/Chart.js"></script>
    <script src="js/smoothscroll.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/ui-bootstrap.min.js"></script>
    <script src="js/ui-bootstrap-tpls.min.js"></script>
    <script src="js/angular-chart.min.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="profileanalysis" id="top" ng-controller="MainCtrl">
    <script>

        function statusChangeCallback(response) {
            var el = document.querySelector('#top'),
                $el = angular.element(el),
                $scopeAlter = $el.scope();

            if (response.status === 'connected') {
                // Logged into your app and Facebook.
                $scopeAlter.login(response.authResponse.accessToken)
            } else if (response.status === 'not_authorized') {
                // The person is logged into Facebook, but not your app.
                $scopeAlter.loggedOnUser = {};

            } else {
                // The person is not logged into Facebook, so we're not sure if
                // they are logged into this app or not.
                $scopeAlter.loggedOnUser = {};
            }
        }

        function checkLoginState() {
            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });
        }
        window.fbAsyncInit = function () {
            FB.init({
                appId: '129747197429804',
              xfbml      : true,
              version    : 'v2.6'
            });
          };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
    </script>


    <div class="container">
        <div class="page-header">
            <h1>Profilyze</h1>
			<div class="panel panel-primary pull-right">
				<div class="panel-body">
					<span ng-if="loggedOnUser.name"><a ng-click="open(loggedOnUser)" style="cursor:pointer">Welcome {{loggedOnUser.name}}</a></span>
					<div ng-if="!loggedOnUser.name">
						<fb:login-button scope="public_profile,email" size="xlarge" onlogin="checkLoginState();">
						</fb:login-button>
					</div>
				</div>
				
			</div>
        </div>
        <div class="row" >
			<!-- <div class="row col-md-4">
				
			</div> -->
            <section id="charts" class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">Eye Color</div>
                            <div class="panel-body">
                                <canvas id="pie" chart-click="eyeClick" class="chart chart-pie chart-xs" chart-data="eyeColorData" chart-labels="eyeColorLabels" chart-colours="eyeColorChartColors"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">Hair Color</div>
                            <div class="panel-body">
                                <canvas id="pie" chart-click="hairClick" class="chart chart-pie chart-xs" chart-data="hairColorData" chart-labels="hairColorLabels" chart-colours="hairColorChartColors"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">Age</div>
                            <div class="panel-body">
                                <canvas id="bar" class="chart chart-bar"
                                        chart-data="ageData" chart-labels="ageLabels" chart-click="ageClick"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">Gender</div>
                            <div class="panel-body">
                                <canvas id="pie" chart-click="genderClick" class="chart chart-pie chart-xs" chart-data="genderData" chart-labels="genderLabels" chart-colours="genderChartColors"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">Has Glasses</div>
                            <div class="panel-body">
                                <canvas id="pie" chart-click="glassesClick" class="chart chart-doughnut chart-xs" chart-data="glassesData" chart-labels="glassesLabels" chart-colours="glassesChartColors"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">Has Beard</div>
                            <div class="panel-body">
                                <canvas id="pie" chart-click="beardClick" class="chart chart-doughnut chart-xs" chart-data="beardData" chart-labels="beardLabels" chart-colours="beardChartColors"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">Smiles</div>
                            <div class="panel-body">
                                <canvas id="pie" chart-click="smilesClick" class="chart chart-pie chart-xs" chart-data="smilesData" chart-labels="smilesLabels" chart-colours="smilesChartColors"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="row">

            <section id="users">
                <div class="page-header">
                    <h2>Users</h2>
                </div>
				<div class="row">
					<div class="col-md-1" style="margin-top: 20%;height: 100px;">
						<button class="btn btn-primary fa fa-chevron-left" aria-hidden="true" style="width: 100%;height:100%"
						ng-click="getPhotos(start-size,stop-size)" ng-hide="start == 0">
						</button>
					</div>
					<div class="col-md-10">
						<ul>
						 <li ng-repeat="user in users" style="display: inline-block;list-style-type: none; cursor:pointer;padding:10px;">
							<a ng-click="open(user)">
							  <img style="height:200px;width:200px" ng-src="{{user.PhotoLink}}" class="img-circle">
							</a>
						  </li>
						</ul>
					</div>
					<div class="col-md-1" style="margin-top: 20%;height: 100px;">
						<button class="btn btn-primary fa fa-chevron-right" aria-hidden="true" style="width: 100%;height:100%"
							ng-click="getPhotos(start+size,stop+size)">
						</button>
					</div>
				</div>
            </section>
        </div>
        
        
    </div>
    <footer class="footer">
        <div class="container">
            <p>Built by Lior Shkiller, Royee Guy, Ben Sterenson and Michael Palarya  </p>
        </div>
    </footer>
    
</body>
</html>
